@page
@model IndexModel
@{
    ViewData["Title"] = "Lista de Contatos";
}

<h1>Contatos</h1>

<p>
    <a asp-page="/Contacts/Create" class="btn btn-primary">Criar Novo Contato</a>
</p>

<p>
    <a asp-page="/Contacts/List" class="btn" style="background-color:#90EE90; color:#000; border-color:#7CCD7C;">
        Listar todos Contatos
    </a>
</p>


<table class="table table-striped">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Contato</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Contacts)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.ContactNumber</td>
                <td>@item.Email</td>
                <td>
                    <a asp-page="/Contacts/Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Editar</a>
                    <a asp-page="/Contacts/Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>